---
import BaseLayout from "../layouts/BaseLayout.astro"
import HorizontalCard from "../components/HorizontalCard.astro"
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>
  <HorizontalCard
  title="Residential Real Estate Price Prediction"
  img="public/house.jpg"
  desc="Developed a predictive model to estimate residential real estate prices based on multiple influencing factors, including location, property size, and proximity to amenities. The project involved analyzing large datasets and implementing machine learning algorithms to accurately forecast property values."
  url="https://github.com/v1ttal/Residential_Real_Estate_Price.git"
  badge="NEW"
  tags={["scikit-learn", "Python","Data Analysis","Machine Learning"]}
/>
<HorizontalCard
  title="Automobile Sales Trends Dashboard"
  img="public/automobile.png"
  desc="Developed a comprehensive analytical dashboard to visualize trends in automobile sales over time. This interactive tool enables users to explore sales patterns across different vehicle types, time periods, and economic factors".
  url="https://github.com/v1ttal/Automobile_Sales_Trends_Dashboard.git"
  badge="NEW"
  tags={["Python","Matplotlib", "Seaborn","Pandas"]}
/>
  <HorizontalCard
    title="SIT Mind Map"
    img="public/AR.jpg"
    desc="Developed an advanced Augmented Reality (AR) pathfinding prototype designed to navigate virtual paths within the campus. This innovative project utilizes AR to provide real-time, interactive guidance, helping users efficiently find their way through the campus."
    url="https://github.com/v1ttal/SIT_Mind_Map.git"
    tags={["Unity C#", "Augmented Reality (AR)","Computer Vision","Android Platform"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Flower Classification"
    img="public/flower.png"
    desc="Developed a machine learning model to classify different species of flowers using Convolutional Neural Networks (CNNs) with TensorFlow and Keras."
    url="https://github.com/v1ttal/flowerclassificatio..git"
    tags={["Python","Tensorflow", "Keras","CNN (Convolutional Neural Networks)"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Breast Cancer Prediction"
    img="public/bst.jpg"
    desc="Developed a high-accuracy predictive model for breast cancer outcomes."
    url="https://github.com/v1ttal/Brest_cancer.git"
    tags={["Python","scikit-learn", "Logistic Regression", "Decision Tree", "Random Forest",]}
  />
  <HorizontalCard
    title="Travel Login Page"
    img="public/Travel.jpg"
    desc="Developed a travel registration form for college students. "
    url="https://github.com/v1ttal/Travel_login.git"
    tags={["HTML","CSS","PHP"]}
  />
  <HorizontalCard
    title="Portfolio App"
    img="/astro.jpeg"
    desc="A simple portfolio website made using Astro and Tailwind to showcase my work."
    url="https://github.com/v1ttal/v1ttal-Portfolio.git"
    tags={["Astro", "Tailwind"]}
  />
</BaseLayout>
