---
const { sideBarActiveItemID } = Astro.props
const activeClass = "bg-base-300"
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
  <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li>
  <li>
    <a
      class="py-3 text-base"
      id="resume"
      href="https://drive.google.com/file/d/19XT1UtKIGI99whPX-azMQ5L_i57AAOk5/view?usp=drive_link"
      target="_blank">Resume</a
    >
  </li>
  <li>
    <a
      class="py-3 text-base"
      href="https://github.com/v1ttal/v1ttal-Portfolio.git"
      target="_blank">Source</a
    >
  </li>
  <li>
    <a
      class="py-3 text-base"
      href="mailto:Vittalkumaar0@gmail.com"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade">Contact</a
    >
  </li>
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID)
  activeItemElem.classList.add(activeClass)
</script>
